@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff'),
    url('../fonts/Montserrat-Regular.woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff'),
    url('../fonts/Montserrat-Medium.woff2');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.woff'),
    url('../fonts/Montserrat-SemiBold.woff2');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBold.woff'),
    url('../fonts/Montserrat-ExtraBold.woff2');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

body {
    font-family: 'Montserrat';
    font-weight: 400;
}